{% extends "base.html" %}

{% block content %}
<p>
    <h3>Developer Profiles:</h3>
    <ul>
        <li>
            <a href = "https://linkedin.com/in/trace-tessier">LinkedIn</a>
        <li>
            <a href = "https://github.com/tessiert">Github</a>
        </li>
        <li>
            <a href = "https://rmotr.com/s/3944/trace-tessier">RMOTR</a>
        </li>
    </ul>

    <h3>Additional Resources:</h3>
    <ul>
        <li>
            All icons used on this site courtesy of:  <a href="https://icons8.com">Icons8</a>
        </li>
    </ul>
</p>
{% endblock content %}