{% extends "home_and_search.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block lower_title %}
    <h1 style="font-family: 'Dancing Script';padding: 1em 0 0 0;">{{ formatted_address }}</h1>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
{% endblock lower_title %}

{% block lower_content %}
    <p>
        <h4 style="text-align:center;margin:40px 0 20px 0;">Current Conditions: {{ temperature }}&#8457, {{ summary }}</h4>
    </p>

    <style>
        .weather_border {
        width: 140px;
        height: 225px;
        padding: 1em 0 0 20px;
        border: 2px solid darkgreen;
        border-radius: 20px;
      }
        .day_date {
            padding: 0 0 0 15px;
      }
        .low {
            color: blue;
            float: left;
        }
        .high {
            color: red;
            float: left;
        }
    </style>

    <table align="center" style="border-collapse:separate;border-spacing:50px 20px;">
        <tr>
            {% for day in days %}
                <td>
                    <div class="weather_border">
                        <div class="day_date">
                            {{ day.name }}<br>{{ day.date }}
                        </div>
                        <p><img src="{{ day.image }}" alt="{{ day.text }}"></p>
                        <p>
                            <h3>
                                <div class="low">{{ day.low }}&deg</div>
                                <div style="float: left">/</div>
                                <div class="high">{{ day.high }}&deg</div>
                            </h3>
                        </p>
                    </div>
                </td>
            {% endfor %}
        </tr>
    </table>

    <p>
        <h1 style="text-align:center;margin:40px 0 20px 0;">
            Points of Interest
        </h1>
    </p>

    <table align="center" style="border-collapse:separate;border-spacing:20px 20px;">
        <tr>
            <td style="vertical-align:top">
                <form action="">
                    <select required style="width:200px;">
                        <option value="">Point of Interest</option>
                        <option value="amusement_park">Amusement Parks</option>
                        <option value="aquarium_zoo">Aquariums/Zoos</option>
                        <option value="cafe_restaurant">Cafés/Restaurants</option>
                        <option value="campground">Campgrounds</option>
                        <option value="live_theater">Live Theaters</option>
                        <option value="movie_theater">Movie Theaters</option>
                        <option value="museum">Museums</option>
                        <option value="park">Parks/Nature Preserves</option>
                        <option value="school">Schools (K-12)</option>
                    </select>
                    <div style="text-align:right;padding:10px 0 25px 0">
                        <select required style="width:200px;">
                            <option value="">Search Distance</option>
                            <option value="two_miles">2 miles</option>
                            <option value="five_miles">5 miles</option>
                            <option value="ten_miles">10 miles</option>
                            <option value="twenty_five_miles">25 miles</option>
                        </select>
                    </div>
                    <div style="text-align:center">
                        <input name="poi_search" type="submit">
                    </div>
                </form>
            </td>
            <td style="vertical-align:top">
                <p><img src={{ map_url }} alt="Server Error:  Map Image Unavailable"></p>
            </td>
            <td style="vertical-align:top">
                <textarea style="width:200px;height:400px;resize:none" readonly placeholder="Points of Interest will display here."></textarea>
            </td>
        </tr>
    </table>

{% endblock lower_content %}