{% extends "home_and_search.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block lower_title %}
    <h1 style="font-family: 'Dancing Script';padding: 1em 0 0 0;">{{ formatted_address }}</h1>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
{% endblock lower_title %}

{% block lower_content %}
    <p>
        <h4 style="text-align:center;margin:40px 0 20px 0;">Current Conditions: {{ temperature }}&#8457, {{ summary }}</h4>
    </p>

    <style>
        .bordered {
        width: 140px;
        height: 225px;
        padding: 1em 0 0 20px;
        border: 2px solid darkgreen;
        border-radius: 20px;
      }
        .day_date {
            padding: 0 0 0 15px;
      }
        .low {
            color: blue;
            float: left;
        }
        .high {
            color: red;
            float: left;
        }
    </style>

    <table align="center" style="border-collapse:separate;border-spacing:50px 20px;">
        <tr>
            {% for day in days %}
                <td>
                    <div class="bordered">
                        <div class="day_date">
                            {{ day.name }}<br>{{ day.date }}
                        </div>
                        <p><img src="{{ day.image }}" alt="{{ day.text }}"></p>
                        <p>
                            <h3>
                                <div class="low">{{ day.low }}&deg</div>
                                <div style="float: left">/</div>
                                <div class="high">{{ day.high }}&deg</div>
                            </h3>
                        </p>
                    </div>
                </td>
            {% endfor %}
            {% comment %} <td>
                <div class="bordered">
                    <div class="day_date">{{ tomorrow_day }}<br>{{ tomorrow_date }}</div>
                    <p><img src={{ tomorrow_weather_image }} alt="{{ tomorrow_weather_text }}"></p>
                    <p>
                        <h3>
                            <div class="low">{{ tomorrow_temp_low }}&deg</div>
                            <div style="float: left">/</div>
                            <div class="high">{{ tomorrow_temp_high }}&deg</div>
                        </h3>
                    </p>
                </div>
            </td>
            <td>
                <div class="bordered">
                    <div class="day_date">{{ day_after_day }}<br>{{ day_after_date }}</div>
                    <p><img src="{{ day_after_weather_image }}" alt="{{ day_after_weather_text }}"></p>
                    <p>
                        <h3>
                            <div class="low">{{ day_after_temp_low }}&deg</div>
                            <div style="float: left">/</div>
                            <div class="high">{{ day_after_temp_high }}&deg</div>
                        </h3>
                    </p>
                </div>
            </td> {% endcomment %}
        </tr>
    </table>

    <p>
        <h2 style="text-align:center;margin:40px 0 20px 0;">
            Coming Soon:  Interactive Points of Interest Map
        </h2>
    </p>

{% endblock lower_content %}